# this desktop handler is example file is part of the SPB project :
# https://github.com/henri/spb
#
# note it is somewhat dangerous using this to evaluate untrusted URL's
# there may be break out conditions which would allow a malicouse
# url to cause issues
#
# due to these potential issues this is currently in the extras directory
# if you are a security expert and are able to provide guidence around
# mitigating maliciouse urls from running commands on the system
# your inptu is most welcome
#
# save the file into the path below or into an approriate location on your system
# ~/.local/share/applications/start-private-browser.desktop


[Desktop Entry]
Name=Start-Private-Browser
Exec=bash -c '$HOME/bin/start-private-browser.bash "$@"' -- %u
Type=Application
MimeType=x-scheme-handler/http;x-scheme-handler/https;


## setup instructions to configuring SPB as default handler for http/https URLs
#
## db update 
#  update-desktop-database ~/.local/share/applications/
#
## check current settings (incase you would like to switch back)
#  xdg-mime query default x-scheme-handler/http
#     # note value returned by command should you wish to switch back
#  xdg-mime query default x-scheme-handler/https
#     # note value returned by commands should you wish to switch back
#
## register 
#  xdg-mime default start-private-browser.desktop x-scheme-handler/http
#  xdg-mime default start-private-browser.desktop x-scheme-handler/https
#
## verify
#  xdg-mime query default x-scheme-handler/http
#  xdg-mime query default x-scheme-handler/https
#
## test
#  xdg-open https://github.com/henri/spb


