# This file is an example spb.config file.
#
# This example shows a possible approach to setting a custom tmp path
# on linux operating systems with the /run directory for temporary user
# storage.
#
# By default create this file : ~/bin/spb-templates/spb.config

# reset to spb default (also removing this file will have the same outcome)
# export spb_temp_data_path="/tmp"

# linux - set a custom spb_temp_data_path : /run/user/$(id -u)/spb
custom_spb_tmp=/run/user/$(id -u)
if [ -d ${custom_spb_tmp} ] ; then
    custom_spb_tmp=${custom_spb_tmp}/spb
    if ! [[ -d ${custom_spb_tmp} ]] ; then
      mkdir ${custom_spb_tmp}
    fi
    export spb_temp_data_path="${custom_spb_tmp}"
    if ! [[ -e /tmp/spb-$(whoami) ]] ; then
        ln -s ${custom_spb_tmp} /tmp/spb-$(whoami)
    fi
fi
