# default spb configuration file : ~/bin/spb-templates/spb.config

# example SPB configuration file to set tor as your default browser
# note this is experimental and at the moment SPB has no in-built 
# support for the official tor browser

# if you have feelings on the best way to integrate tor browser
# into SPB multi-browser support please start a discussion
# https://github.com/henri/spb/discussions

export spb_browser_name="firefox"
export spb_browser_path="~/.local/share/torbrowser/tbb/x86_64/tor-browser/Browser/start-tor-browser"

# this example assumes x86 tor browser has been downloaded into the 
# users home directory by running torbrowser-launcher (installed via
# apt on Linx Mint)

# if you have installed tor using a different meathod (direct download / flatpack etc)
# modify your executable path (AKA spb_browser_path) as needed.

# finally note that template support will not work as expected
# when using this configuration

# if you are after launching tor via spb on a one off basis,
# then use the command below instead and adjust your path as requited.
# spb --browser firefox --browser-path ~/.local/share/torbrowser/tbb/x86_64/tor-browser/Browser/start-tor-browser





