# default spb configuration file : ~/bin/spb-templates/spb.config

# automatically switch on standard (non-incognito) mode when editing templates
export spb_edit_template_standard_mode="true"

# overiding this option via CLI arguments is possible - however it is browser depended
#
#  - firefox based browser add --private-window to start private browsing
#  - chromium based browser add --incognito to start private browsing 
#
