# default spb configuration file : ~/bin/spb-templates/spb.config

# in the event the browser configured is firefox configure proxy
if [[ "${spb_browser_name}" == "firefox" ]] ; then

    echo "firefox is running..."
  
    # echo "   - custom proxy set"
    export http_proxy="http://192.168.1.100:8080"
    export https_proxy="http://192.168.1.100:8080"

fi

